@import url('variaveis.css');
@import url('header.css');
@import url('portfolio.css');
@import url('frases-loop.css');
@import url('servicos.css');
@import url('abertofechado.css');
@import url('about.css');
@import url('faq.css');
@import url('tecnologia.css');
@import url('planos.css');
@import url('footer.css');
@import url('global.css');

@import url('home.css');

/* Fonte global */

:root {
  /* ... outras variáveis ... */

  --body-bg: #f2f5f7; /* Cor gelo suave (mais confortável que branco puro) */
  --body-text: #333333; /* Cor de texto padrão: cinza escuro neutro */
}

body {
  background-color: var(--color-background);
  
   margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
