
@import url('header.css');
@import url('transformacao.css');
@import url('servicos.css');
@import url('processos.css');
@import url('home.css');
@import url('faq.css');
@import url('about.css');
@import url('footer.css');

/* Fonte global */

:root {
  /* ... outras variáveis ... */

  --body-bg: #f2f5f7; /* Cor gelo suave (mais confortável que branco puro) */
  --body-text: #333333; /* Cor de texto padrão: cinza escuro neutro */
}

body {
  background-color: var(--color-background);
  
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}
